.input {
	padding: 10px 15px;
	width: 100%;
	font-weight: 500;
	border: 1px solid #dfdddd;
	font-weight: 600;
	font-size: 30px;
	border-radius: 5px;
}

.wrapper {
	width: 70px;
}

.label {
	font-size: 15px;
	color: #514e4e;
	font-weight: 300;
}
